<!DOCTYPE html>
html(lang="en")
  head
    //- META
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(name="author", content="J. Djimitry Riviere")
    meta(name="description", content="Sparkle.CSS: a lightweight, open-source, mobile-first CSS framework for easy website designs.")
    meta(name="keywords", content="HTML, HTML5, CSS, CSS3, CSS Framework, JavaScript, JS, sparkle, Sparkle, sparkle-css")    
    meta(name="msapplication-TileColor", content="#add2e6")
    meta(name="theme-color", content="#add2e6")

    //- ESSENTIAL STYLES
    block style

    //- TITLE
    if title === 'sparkle.css'
      title Sparkle | Home
    else
      title= `Sparkle | ${title}`
    
    //- SCRIPTS
    //- === Google Analytics === //
    script(async="", type="text/javascript", src="https://www.googletagmanager.com/gtag/js?id=UA-126960684-1")
    script(type="text/javascript").
      window.dataLayer = window.dataLayer || [];
      function gtag(){ dataLayer.push(arguments); }
      gtag('js', new Date());
      gtag('config', 'UA-126960684-1');

  body
    block content