<!DOCTYPE html>
html(lang="en")
  head
    //- === Google Analytics === //
    script(async="", type="text/javascript", src="https://www.googletagmanager.com/gtag/js?id=UA-126960684-1")
    script(type="text/javascript").
      window.dataLayer = window.dataLayer || [];
      function gtag(){ dataLayer.push(arguments); }
      gtag('js', new Date());
      gtag('config', 'UA-126960684-1');
    
    //- === Google Tag Manager === //
    script(type="text/javascript").
      (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src='https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);})(window,document,'script','dataLayer','GTM-KX76QJB');
    //- === Google Tag Manager (end) === //

    //- META
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(name="author", content="J. Djimitry Riviere")
    meta(name="description", content="Sparkle.CSS: a lightweight, open-source, mobile-first CSS framework for easy website designs.")
    meta(name="keywords", content="HTML, HTML5, CSS, CSS3, CSS Framework, JavaScript, JS, sparkle, Sparkle, sparkle-css")    
    meta(name="msapplication-TileColor", content="#add2e6")
    meta(name="theme-color", content="#add2e6")

    //- ESSENTIAL STYLES
    block style

    //- TITLE
    if title === 'sparkle.css'
      title Sparkle | Home
    else
      title= `Sparkle | ${title}`

  body
    //- === Google Tag Manager (noscript) === //
    noscript
      iframe(src="https://www.googletagmanager.com/ns.html?id=GTM-KX76QJB", height="0", width="0", style="display:none;visibility:hidden;")
    //- === Google Tag Manager (noscript) end === //
    block content