//- FOOTER
footer.make-padding-30-vertical.make-bg-dark
  .wrapper
    .grid
      .column
        p.make-text-bold.make-text-size5 Site Map
        ul.make-unstyled
          li
            a(href="/") Home
          li
            a(href="/get-started") Get Started
          li
            a(href="/documentation") Documentation
          li
            a(href="#") Examples
      .column
        p.make-text-bold.make-text-size5 Documentation
        ul.make-unstyled
          li
            a(href="/documentation/components") Components
          li
            a(href="/documentation/forms") Forms
          li
            a(href="/documentation/layouts") Layouts
          li
            a(href="/documentation/utilities") Utilities
      .column
        p.make-text-bold.make-text-size5 More
        a(href="https://github.com/jdriviere/sparkle-css", target="_blank")
          i.fa.fa-github-alt.fa-2x
        
    //- CREDITS
    .make-margin-20-top.make-text-size6
      p.make-text-size6.
        Designed and build by <span class="make-text-bold">
          <a style="font-size:12px!important;" href="https://jdriviere.github.io" target="_blank">
          J. D. Riviere</a></span>.
      p.make-text-size6.
        Code licensed <span class="make-text-bold">
          <a style="font-size:12px!important;" href="https://github.com/jdriviere/sparkle-css/blob/master/LICENSE" target="_blank">
          MIT</a></span>,
        docs by <span class="make-text-bold">
          <a style="font-size:12px!important;" href="https://creativecommons.org/licenses/by/3.0/" target="_blank">
          CC BY 3.0</a></span>.
