extends ./config/base
include ./mixins/_banner
include ./mixins/_links
include ./mixins/_nav

block style
  +links(title)

block content
  //- Variables
  -var docVersion = 'v0.1.0';

  //- Contents
  //- NAV
  +nav(title)
  
  //- MAIN
  main
    //- HERO
    +banner(title, subtitle)
  
    //- PROJECT
    .project
      .wrapper.make-padding-50-vertical
        .make-text-centered.make-margin-30-bottom
          h3 Learn to Build with Sparkle
        .columns
          .column
            .box.make-text-centered
              a(href="/documentation/components")
                i.fa.fa-cube.fa-3x
                p.make-text-size3.make-text-bold Components
              p.make-text-size5.make-text-normal The building blocks of the framework.
          .column
            .box.make-text-centered
              a(href="/documentation/forms")
                i.fa.fa-list.fa-3x
                p.make-text-size3.make-text-bold Forms
              p.make-text-size5.make-text-normal The elements essential to style a clean form UI.
          .column
            .box.make-text-centered
              a(href="/documentation/layouts")
                i.fa.fa-object-group.fa-3x
                p.make-text-size3.make-text-bold Layouts
              p.make-text-size5.make-text-normal The overall structural flow of the page.
          .column
            .box.make-text-centered
              a(href="/documentation/utilities")
                i.fa.fa-cogs.fa-3x
                p.make-text-size3.make-text-bold Utilities
              p.make-text-size5.make-text-normal The additional functionalities for optimum designs.

  //- FOOTER
  include ./layouts/footer