extends ./config/base
include ./mixins/_article
include ./mixins/_banner
include ./mixins/_links
include ./mixins/_nav

block style
  +links(title)

block content
  //- Variables
  -var docVersion = 'v0.1.0';

  //- Contents
  //- NAV
  +nav(title)

  //- MAIN
  main
    //- HERO
    +banner(title, subtitle)
  
    //- PROJECT
    .project
      .wrapper.make-padding-50-vertical.make-margin-30-bottom
        //--- CHECKBOXES ---//
        +article("Checkboxes")
          //- DEFAULT
          .columns
            .column
              label.checkbox
                input(type="checkbox").checkbox__toggle
                i.checkbox__icon
                span Checkbox
            .column
              .sticker
                code.
                  &lt;label class="<strong>checkbox</strong>"&gt;<br>
                  &nbsp;&nbsp;&lt;input type="checkbox" class="<strong>checkbox__toggle</strong>"&gt;<br>
                  &nbsp;&nbsp;&lt;i class="<strong>checkbox__icon</strong>"&gt;<br>
                  &lt;/label&gt;

          //- INLINE
          .columns
            .column
              label.checkbox.make-inline
                input(type="checkbox").checkbox__toggle
                i.checkbox__icon
                span Checkbox 1
              label.checkbox.make-inline
                input(type="checkbox").checkbox__toggle
                i.checkbox__icon
                span Checkbox 2
            .column
              .sticker
                code.
                  &lt;label class="checkbox <strong>make-inline</strong>"&gt;<br>
                  &nbsp;&nbsp;&lt;input type="checkbox" class="checkbox__toggle"&gt;<br>
                  &nbsp;&nbsp;&lt;i class="checkbox__icon"&gt;<br>
                  &lt;/label&gt;

          //- STATES
          .columns
            .column
              label.checkbox.make-inline
                input(type="checkbox", disabled, checked).checkbox__toggle
                i.checkbox__icon
                span Disabled and Checked
              label.checkbox.make-inline
                input(type="checkbox", disabled).checkbox__toggle
                i.checkbox__icon
                span Disabled only
              label.checkbox.make-inline
                input(type="checkbox", checked).checkbox__toggle
                i.checkbox__icon
                span Checked only
            .column
              .sticker
                code.
                  &lt;label class="checkbox [make-inline]"&gt;<br>
                  &nbsp;&nbsp;&lt;input type="checkbox" class="checkbox__toggle" <strong>[disabled checked]</strong>&gt;<br>
                  &nbsp;&nbsp;&lt;i class="checkbox__icon"&gt;<br>
                  &lt;/label&gt;

        //--- RADIOS ---//
        +article("Radios")
          //- DEFAULT
          .columns
            .column
              label.radio
                input(type="radio").radio__toggle
                i.radio__icon
                span Radio
            .column
              .sticker
                code.
                  &lt;label class="<strong>radio</strong>"&gt;<br>
                  &nbsp;&nbsp;&lt;input type="radio" class="<strong>radio__toggle</strong>"&gt;<br>
                  &nbsp;&nbsp;&lt;i class="<strong>radio__icon</strong>"&gt;<br>
                  &lt;/label&gt;

          //- INLINE
          .columns
            .column
              label.radio.make-inline
                input(type="radio", name="value1").radio__toggle
                i.radio__icon
                span Radio 1 (inline)
              label.radio.make-inline
                input(type="radio", name="value1").radio__toggle
                i.radio__icon
                span Radio 2 (inline)
            .column
              .sticker
                code.
                  &lt;label class="radio <strong>make-inline</strong>"&gt;<br>
                  &nbsp;&nbsp;&lt;input type="radio" class="radio__toggle"&gt;<br>
                  &nbsp;&nbsp;&lt;i class="radio__icon"&gt;<br>
                  &lt;/label&gt;

          //- STATES
          .columns
            .column
              label.radio.make-inline
                input(type="radio", disabled, checked).radio__toggle
                i.radio__icon
                span Disabled and Checked
              label.radio.make-inline
                input(type="radio", disabled).radio__toggle
                i.radio__icon
                span Disabled only
              label.radio.make-inline
                input(type="radio", checked).radio__toggle
                i.radio__icon
                span Checked only
            .column
              .sticker
                code.
                  &lt;label class="radio [make-inline]"&gt;<br>
                  &nbsp;&nbsp;&lt;input type="radio" class="radio__toggle" <strong>[disabled checked]</strong>&gt;<br>
                  &nbsp;&nbsp;&lt;i class="radio__icon"&gt;<br>
                  &lt;/label&gt;

        //--- SWITCHES ---//
        +article("Switches")
          //- DEFAULT
          .columns
            .column
              label.switch
                input(type="checkbox").switch__toggle
                i.switch__label
                i.switch__handle
            .column
              .sticker
                code.
                  &lt;label class="<strong>switch</strong>"&gt;<br>
                  &nbsp;&nbsp;&lt;input type="checkbox" class="<strong>switch__toggle</strong>"&gt;<br>
                  &nbsp;&nbsp;&lt;i class="<strong>switch__label</strong>"&gt;&lt;/i&gt;<br>
                  &nbsp;&nbsp;&lt;i class="<strong>switch__handle</strong>"&gt;&lt;/i&gt;<br>
                  &lt;/label&gt;
          
          //- STATES
          .columns
            .column
              label.switch
                input(type="checkbox", checked, disabled).switch__toggle
                i.switch__label
                i.switch__handle
              span.make-margin-10-left Disabled and checked
              br
              label.switch
                input(type="checkbox", disabled).switch__toggle
                i.switch__label
                i.switch__handle
              span.make-margin-10-left Disabled only
              br
              label.switch
                input(type="checkbox", checked).switch__toggle
                i.switch__label
                i.switch__handle
              span.make-margin-10-left Checked only   
            .column
              .sticker
                code.
                  &lt;label class="<strong>switch</strong>"&gt;<br>
                  &nbsp;&nbsp;&lt;input type="checkbox" class="switch__toggle" <strong>[checked disabled]</strong>&gt;<br>
                  &nbsp;&nbsp;&lt;i class="<strong>switch__label</strong>"&gt;&lt;/i&gt;<br>
                  &nbsp;&nbsp;&lt;i class="<strong>switch__handle</strong>"&gt;&lt;/i&gt;<br>
                  &lt;/label&gt;

        //--- INPUTS ---//
        +article("Inputs")
          //- DEFAULT
          .columns
            .column
              label.label.make-margin-15-bottom Label
              input(type="text", placeholder="input").input.make-margin-15-bottom
              select.select.make-margin-15-bottom
                option(name="select", selected, disabled) Selection...
                option(name="select", value="A") Option A
                option(name="select", value="B") Option B
                option(name="select", value="C") Option C
              textarea(placeholder="Textarea").textarea
            .column
              .sticker
                code.
                  &lt;label [for="#"] class="<strong>label</strong>"&gt;Label Name&lt;/label&gt;<br>
                  &lt;input class="<strong>input</strong>" [placeholder=""]&gt;<br>
                  &lt;select class="<strong>select</strong>"&gt;<br>
                  &nbsp;&nbsp;&lt;option name="name" value="value"&gt;Option 1&lt;/option&gt;<br>
                  &nbsp;&nbsp;&lt;option name="name" value="value"&gt;Option 2&lt;/option&gt;<br>
                  &nbsp;&nbsp;&lt;option name="name" value="value"&gt;Option 3&lt;/option&gt;<br>
                  &lt;/select&gt;<br>
                  &lt;textarea class="<strong>textarea</strong>" [placeholder=""]&gt;&lt;/textarea&gt;
          
          //- STYLES
          .columns
            .column
              input(type="text", placeholder="input").input.make-success.make-margin-15-bottom
              select.select.make-warning.make-margin-15-bottom
                option(name="select", selected, disabled) Selection...
                option(name="select", value="A") Option A
                option(name="select", value="B") Option B
                option(name="select", value="C") Option C
              textarea(placeholder="Textarea").textarea.make-danger
            .column
              .sticker
                code.
                  &lt;input class="input <strong>make-$type</strong>"&gt;<br>
                  &lt;select class="select <strong>make-$type</strong>"&gt;<br>
                  &nbsp;&nbsp;&lt;option name="name" value="value"&gt;Option 1&lt;/option&gt;<br>
                  &nbsp;&nbsp;&lt;option name="name" value="value"&gt;Option 2&lt;/option&gt;<br>
                  &nbsp;&nbsp;&lt;option name="name" value="value"&gt;Option 3&lt;/option&gt;<br>
                  &lt;/select&gt;<br>
                  &lt;textarea class="textarea <strong>make-$type</strong>"&gt;&lt;/textarea&gt;
          
          //- STATES
          .columns
            .column
              input(type="text", placeholder="Disabled input", disabled).input.make-margin-15-bottom
              select(disabled).select.make-margin-15-bottom
                option(name="select", selected, disabled) Disabled selection...
                option(name="select", value="A") Option A
                option(name="select", value="B") Option B
                option(name="select", value="C") Option C
              textarea(placeholder="Disabled text", disabled).textarea
            .column
              .sticker
                code.
                  &lt;input class="input" <strong>disabled</strong>&gt;<br>
                  &lt;select class="select" <strong>disabled</strong>&gt;<br>
                  &nbsp;&nbsp;&lt;option name="name" value="value"&gt;Option 1&lt;/option&gt;<br>
                  &nbsp;&nbsp;&lt;option name="name" value="value"&gt;Option 2&lt;/option&gt;<br>
                  &nbsp;&nbsp;&lt;option name="name" value="value"&gt;Option 3&lt;/option&gt;<br>
                  &lt;/select&gt;<br>
                  &lt;textarea class="textarea" <strong>disabled</strong>&gt;&lt;/textarea&gt;
        
        //--- INPUT GROUPS ---//
        +article("Input Groups")
          //- DEFAULT
          .columns
            .column
              .inputs
                label.label Label
                input(type="text", placeholder="Input...").input
            .column
              .sticker
                code.
                  &lt;div class="<strong>inputs</strong>"&gt;<br>
                  &nbsp;&nbsp;&lt;label class="label"&gt;Label Name:&lt;/label&gt;<br>
                  &nbsp;&nbsp;&lt;input class="input [make-$type] [placeholder=""]&gt;<br>
                  &lt;/div&gt;
  
        //--- INPUT ADDONS ---//
        +article("Input Addons")
          //- DEFAULT
          .columns
            .column
              //- Prepend
              .input__addons.make-margin-15-bottom
                button.button Button
                input(type="text", placeholder="Input...").input
              //- Append
              .input__addons.make-margin-15-bottom
                input(type="text", placeholder="Input...").input
                button.button Button
              //- Append and Prepend
              .input__addons.make-margin-15-bottom
                button.button Button
                input(type="text", placeholder="Input...").input
                button.button Button
            .column
              .sticker
                code.
                  &lt;div class="<strong>input__addons</strong>"&gt;<br>
                  &nbsp;&nbsp;&lt;button class="button [make-$type]"&gt;Button&lt;/button&gt;<br>
                  &nbsp;&nbsp;&lt;input class="input [make-$type] [placeholder=""]&gt;<br>
                  &lt;/div&gt;<br>
                  <br>
                  &lt;div class="<strong>input__addons</strong>"&gt;<br>
                  &nbsp;&nbsp;&lt;input class="input [make-$type] [placeholder=""]&gt;<br>
                  &nbsp;&nbsp;&lt;button class="button [make-$type]"&gt;Button&lt;/button&gt;<br>
                  &lt;/div&gt;<br>
                  <br>
                  &lt;div class="<strong>input__addons</strong>"&gt;<br>
                  &nbsp;&nbsp;&lt;button class="button [make-$type]"&gt;Button&lt;/button&gt;<br>
                  &nbsp;&nbsp;&lt;input class="input [make-$type] [placeholder=""]&gt;<br>
                  &nbsp;&nbsp;&lt;button class="button [make-$type]"&gt;Button&lt;/button&gt;<br>
                  &lt;/div&gt;
  
  //- FOOTER
  include ./layouts/footer