extends ./config/base
include ./mixins/_banner
include ./mixins/_links
include ./mixins/_nav

block style
  +links(title)

block content
  //- Variables
  -var docVersion = 'v0.1.0';

  //- NAV
  +nav(title)
  
  //- MAIN
  main
    //- HERO
    +banner(longTitle, subtitle)
        
    //- PROJECT
    .project
      .wrapper.make-padding-50-vertical.make-margin-30-bottom
        h3.make-text-centered Installing the Framework
        p.make-margin-10-bottom.
          There are many ways to import Sparkle into your development folder,
          each way being simple and easy to follow.
      
        //- INFO
        .columns
          .column
            h5 Install via Bower
            p.
              This is the favorable way, if you wish to dig deep within
              the developmental folders of Sparkle and completely
              customize it. Just follow these steps:
            ol
              li.
                Run the command <code>bower install sparkle.css</code> in your command line
                (Windows) or terminal (Linux/OSX).
                <br>
                <strong>Note:</strong> It is important to know that Node.js and NPM must
                be installed in your machine prior to installing Sparkle.
              li.
                Link the <code>.css</code> or <code>.min.css</code> files located
                in the <code>bower_components</code> folder that is created upon running the
                command.
              li Enjoy!
            .sticker
              code bower install sparkle.css
          .column
            h5 Install via CDN
            p.
              You can also install the latest (master) release of the framework.
              Simply link your stylesheet and script source to the appropriate links.
              <br>
              <strong>Note:</strong> If you wish to install the latest developmental
              version of Sparkle, just replace the version number with <code>@latest</code>.
            .sticker
              code= `<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/jdriviere/sparkle-css@${version}/dist/css/sparkle.min.css">`
          .column
            h5 Install via Git Repo
            p.
              You can alsways clone the repository into your local machine by typing
              the code below in your command line (Windows) or terminal (Linux/OSX).
              <br>
              <strong>Note:</strong> This one is especially recommended, if you intend to
              contribute to this project.
            .sticker
              code git clone https://github.com/jdriviere/sparkle-css.git

  //- FOOTER
  include ./layouts/footer