extends ./config/base

block style
  link(rel="icon" type="image/png" sizes="16x16" href="../images/icon.png")
  //- link(rel="stylesheet", type="text/css" href="../stylesheets/bower_components/sparkle.css/dist/css/sparkle.min.css")
  link(rel="stylesheet", type="text/css" href="https://cdn.jsdelivr.net/gh/jdriviere/sparkle-css@1.9.14/dist/css/sparkle.min.css")
  link(rel="stylesheet", type="text/css" href="../stylesheets/main.css")

block content
  //- Variables
  -var version = version;
  -var docVersion = 'v0.1.0';

  //- Contents
  header
    nav.nav.make-fixed
        input(type="checkbox")#nav__trigger
        label.nav__toggle(for="nav__trigger")
        .nav__brand
          img(src="../images/icon.png", alt="Sparkle.CSS logo")
        ul.nav__menu
            li.nav__menu__item
              a(href="/") Home
            li.nav__menu__item
              a(href="/get-started") Get Started
            li.nav__menu__item.make-active
              a(href="/documentation") Documentation
        ul.nav__menu.make-right
          li.nav__menu__item.make-tablet-hidden
            a(href="").button.make-dark.make-outline.make-block Download
          li.nav__menu__item.make-tablet-hidden
            a(href="").button.make-primary.make-block Github
          li.nav__menu__item.make-phone-hidden
            a(href="")
              i.fa.fa-download
          li.nav__menu__item.make-phone-hidden
            a(href="")
              i.fa.fa-github

  //- MAIN
  main
    //- HERO
    .hero.make-large.make-bg-image
      .hero__body
        .wrapper
          h1 #{title}
          h3 #{subtitle}
          .tags.make-solid
            span.tag.make-dark= title
            span.tag.make-primary= docVersion
  //- SELECTION
  .project
    .wrapper.make-padding-50-vertical.make-margin-30-bottom

  //- FOOTER
  include ./layouts/footer