extends ./config/base
include ./mixins/_article
include ./mixins/_banner
include ./mixins/_links
include ./mixins/_nav

block style
  +links(title)

block content
  //- Variables
  -var docVersion = 'v0.1.0';

  //- Contents
  //- NAV
  +nav(title)

  //- MAIN
  main
    //- HERO
    +banner(title, subtitle)
  
    //- PROJECT
    .project
      .wrapper.make-padding-50-vertical.make-margin-30-bottom
        +article("Lorem Ipsum")

  //- FOOTER
  include ./layouts/footer