extends ./config/base
include ./mixins/_article
include ./mixins/_banner
include ./mixins/_links
include ./mixins/_nav

block style
  +links(title)

block content
  //- Variables
  -var docVersion = 'v0.1.0';

  //- Contents
  //- NAV
  +nav(title)

  //- MAIN
  main
    //- HERO
    +banner(title, subtitle)
  
    //- PROJECT
    .project
      .wrapper.make-padding-50-vertical.make-margin-30-bottom
        //--- BREADCRUMBS ---//
        +article("Breadcrumbs")
          .columns
            .column
              ul.breadcrumb
                li.breadcrumb-item
                  a(href="#") Lorem
                li.breadcrumb-item
                  a(href="#") Ipsum
                li.breadcrumb-item.make-active
                  p Dolor
            .column
              .sticker
                code.
                  &lt;ul class="<strong>breadcrumb</strong>"&gt;<br>
                  &nbsp;&nbsp;&lt;li class="<strong>breadcrumb-item</strong>"&gt;&lt;a href="#"&gt;Link&lt;/a&gt;&lt;/li&gt;<br>
                  &nbsp;&nbsp;&lt;li class="<strong>breadcrumb-item</strong>"&gt;&lt;a href="#"&gt;Link&lt;/a&gt;&lt;/li&gt;<br>
                  &nbsp;&nbsp;&lt;li class="breadcrumb-item <strong>make-active</strong>"&gt;&lt;p&gt;Active Link&lt;/p&gt;&lt;/li&gt;<br>
                  &lt;/ul&gt;

        //--- CARDS ---//
        +article("Cards")
          //- DEFAULT (JUST BODY)
          .columns
            .column
              .card
                .card-body
                  p This is a card without header or footer.
            .column
              .sticker
                code.
                  &lt;div class="<strong>card</strong>"&gt;<br>
                  &nbsp;&nbsp;// Body of element<br>
                  &lt;/div&gt;
          
          //- WITH HEADER AND BODY
          .columns
            .column
              .card
                .card-header
                  p This is the Card Header
                .card-body
                  p This is the Card Body.
            .column
              .sticker
                code.
                  &lt;div class="card"&gt;<br>
                  &nbsp;&nbsp;&lt;div class="<strong>card-header</strong>"&gt;<br>
                  &nbsp;&nbsp;&nbsp;&nbsp;// Body of element<br>
                  &nbsp;&nbsp;&lt;/div&gt;<br>
                  &nbsp;&nbsp;&lt;div class="<strong>card-body</strong>"&gt;<br>
                  &nbsp;&nbsp;&nbsp;&nbsp;// Body of element<br>
                  &nbsp;&nbsp;&lt;/div&gt;<br>
                  &lt;/div&gt;
    
          //- WITH HEADER AND FOOTER (ITEMS)
          .columns
            .column
              .card
                .card-header
                  p This is the Card Header.
                .card-separator
                .card-body
                  p This is the Card Body with a Card Separators.
                .card-separator
                .card-footer
                  p This is the Card Footer.
            .column
              .sticker
                code.
                  &lt;div class="card"&gt;<br>
                  &nbsp;&nbsp;&lt;div class="card-header"&gt;<br>
                  &nbsp;&nbsp;&nbsp;&nbsp;// Body of element<br>
                  &nbsp;&nbsp;&lt;/div&gt;<br>
                  &nbsp;&nbsp;&lt;div class="<strong>card-separator</strong>"&gt;&lt;/div&gt;<br>
                  &nbsp;&nbsp;&lt;div class="card-body"&gt;<br>
                  &nbsp;&nbsp;&nbsp;&nbsp;// Body of element<br>
                  &nbsp;&nbsp;&lt;/div&gt;<br>
                  &nbsp;&nbsp;&lt;div class="<strong>card-separator</strong>"&gt;&lt;/div&gt;<br>
                  &nbsp;&nbsp;&lt;div class="card-footer"&gt;<br>
                  &nbsp;&nbsp;&nbsp;&nbsp;// Body of element<br>
                  &nbsp;&nbsp;&lt;/div&gt;<br>
                  &lt;/div&gt;

        //--- CONTAINER ---//
        +article("Container")

        //--- GRID ---//
        +article("Grid")

        //--- HEROES ---//
        +article("Heroes")

        //--- MEDIA ---//
        +article("Media")
          .columns
            .column
              .media
                .media-profile
                  img(src="https://via.placeholder.com/64", alt="Media profile")
                .media-body
                  h3 John Smith
                  p.make-text-size5 @jsmith
                  p.
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                    Blanditiis, illum. Quos officia odit similique impedit
                    nobis, debitis maxime alias eius.
            .column
              .sticker
                code.
                  &lt;div class="<strong>media</strong>"&gt;<br>
                  &nbsp;&nbsp;&lt;div class="<strong>media-profile</strong>"&gt;<br>
                  &nbsp;&nbsp;&nbsp;&nbsp;&lt;img src="#" alt="#"&gt;<br>
                  &nbsp;&nbsp;&lt;/div&gt;<br>
                  &nbsp;&nbsp;&lt;div class="<strong>media-body</strong>"&gt;<br>
                  &nbsp;&nbsp;&nbsp;&nbsp;// Body of element<br>
                  &nbsp;&nbsp;&lt;/div&gt;<br>
                  &lt;/div&gt;

        //--- MENU ---//
        +article("Menu")

        //--- NAVBAR ---//
        +article("Navigation")

        //--- TABLES ---//
        +article("Tables")
          //- DEFAULT
          .columns
            .column
              table.table
                caption Table using &lt;table&gt;
                thead
                  tr
                    th Name
                    th ID
                    th Profession
                tbody
                  tr
                    td John Doe
                    td 1234
                    td Web Developer, UX Designer
                  tr
                    td Suzan Moore
                    td ABCD
                    td Professional Speaker, Advertiser
                tfoot
                  tr
                    th Name
                    th ID
                    th Profession
            .column
              .sticker
                code.
                  &lt;table class="<strong>table</strong>"&gt;<br>
                  &nbsp;&nbsp;&lt;caption&gt;Table using TABLE&lt;/caption&gt;<br>
                  &nbsp;&nbsp;&lt;thead&gt;<br>
                  &nbsp;&nbsp;&nbsp;&nbsp;&lt;tr&gt;<br>
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;th&gt;Name&lt;/th&gt;<br>
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;th&gt;ID&lt;/th&gt;<br>
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;th&gt;Profession&lt;/th&gt;<br>
                  &nbsp;&nbsp;&nbsp;&nbsp;&lt;/tr&gt;<br>
                  &nbsp;&nbsp;&lt;/thead&gt;<br>
                  &nbsp;&nbsp;&lt;tbody&gt;<br>
                  &nbsp;&nbsp;&nbsp;&nbsp;&lt;tr&gt;<br>
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;td&gt;John Doe&lt;/td&gt;<br>
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;td&gt;1234&lt;/td&gt;<br>
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;td&gt;Web Developer, UX Designer&lt;/td&gt;<br>
                  &nbsp;&nbsp;&nbsp;&nbsp;&lt;/tr&gt;<br>
                  &nbsp;&nbsp;&nbsp;&nbsp;&lt;tr&gt;<br>
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;td&gt;Suzan Moore&lt;/td&gt;<br>
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;td&gt;ABCD&lt;/td&gt;<br>
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;td&gt;Professional Speaker, Advertiser&lt;/td&gt;<br>
                  &nbsp;&nbsp;&nbsp;&nbsp;&lt;/tr&gt;<br>
                  &nbsp;&nbsp;&lt;/tbody&gt;<br>
                  &nbsp;&nbsp;&lt;tfoot&gt;<br>
                  &nbsp;&nbsp;&nbsp;&nbsp;&lt;tr&gt;<br>
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;th&gt;Name&lt;/th&gt;<br>
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;th&gt;ID&lt;/th&gt;<br>
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;th&gt;Profession&lt;/th&gt;<br>
                  &nbsp;&nbsp;&nbsp;&nbsp;&lt;/tr&gt;<br>
                  &nbsp;&nbsp;&lt;/tfoot&gt;<br>
                  &lt;/table&gt;
            
          //- DIVS
          .columns
            .column
              .table
                .table-caption Table using &lt;div&gt;
                .table-header
                  .table-row
                    .table-cell Name
                    .table-cell ID
                    .table-cell Profession
                .table-body
                  .table-row
                    .table-cell John Doe
                    .table-cell 1234
                    .table-cell Web Developer, UX Designer
                  .table-row
                    .table-cell Suzan Moore
                    .table-cell ABCD
                    .table-cell Professional Speaker, Advertiser
                .table-footer
                  .table-row
                    .table-cell Name
                    .table-cell ID
                    .table-cell Profession
            .column
              .sticker
                code.
                  &lt;div class="<strong>table</strong>"&gt;<br>
                  &nbsp;&nbsp;&lt;div class="<strong>table-caption</strong>"&gt;Table using DIV&lt;/div&gt;<br>
                  &nbsp;&nbsp;&lt;div class="<strong>table-header</strong>"&gt;<br>
                  &nbsp;&nbsp;&nbsp;&nbsp;&lt;div class="<strong>table-row</strong>"&gt;<br>
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;div class="<strong>table-cell</strong>"&gt;Name&lt;/div&gt;<br>
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;div class="<strong>table-cell</strong>"&gt;ID&lt;/div&gt;<br>
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;div class="<strong>table-cell</strong>"&gt;Profession&lt;/div&gt;<br>
                  &nbsp;&nbsp;&nbsp;&nbsp;&lt;/div&gt;<br>
                  &nbsp;&nbsp;&lt;/div&gt;<br>
                  &nbsp;&nbsp;&lt;div class="<strong>table-body</strong>"&gt;<br>
                  &nbsp;&nbsp;&nbsp;&nbsp;&lt;div class="<strong>table-row</strong>"&gt;<br>
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;div class="<strong>table-cell</strong>"&gt;John Doe&lt;/div&gt;<br>
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;div class="<strong>table-cell</strong>"&gt;1234&lt;/div&gt;<br>
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;div class="<strong>table-cell</strong>"&gt;Web Developer, UX Designer&lt;/div&gt;<br>
                  &nbsp;&nbsp;&nbsp;&nbsp;&lt;/div&gt;<br>
                  &nbsp;&nbsp;&nbsp;&nbsp;&lt;div class="<strong>table-row</strong>"&gt;<br>
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;div class="<strong>table-cell</strong>"&gt;Suzan Moore&lt;/div&gt;<br>
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;div class="<strong>table-cell</strong>"&gt;ABCD&lt;/div&gt;<br>
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;div class="<strong>table-cell</strong>"&gt;Professional Speaker, Advertiser&lt;/div&gt;<br>
                  &nbsp;&nbsp;&nbsp;&nbsp;&lt;/div&gt;<br>
                  &nbsp;&nbsp;&lt;/div&gt;<br>
                  &nbsp;&nbsp;&lt;div class="<strong>table-footer</strong>"&gt;<br>
                  &nbsp;&nbsp;&nbsp;&nbsp;&lt;div class="<strong>table-row</strong>"&gt;<br>
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;div class="<strong>table-cell</strong>"&gt;Name&lt;/div&gt;<br>
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;div class="<strong>table-cell</strong>"&gt;ID&lt;/div&gt;<br>
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;div class="<strong>table-cell</strong>"&gt;Profession&lt;/div&gt;<br>
                  &nbsp;&nbsp;&nbsp;&nbsp;&lt;/div&gt;<br>
                  &nbsp;&nbsp;&lt;/div&gt;<br>
                  &lt;/div&gt;

  //- FOOTER
  include ./layouts/footer