mixin article(component)
  h3 #{component}
  hr.line
  article(id=`#${component}`, class="box make-margin-20-bottom")
    if block
      block
    else
      h5.make-text-italic.make-text-muted Content description coming soon.