//--- BANNER ---//
mixin banner(title, subtitle)
  .hero.make-large.make-bg-image
    .hero__body
      .wrapper
        .columns
          .column.make-half
            h1 #{title}
            h3 #{subtitle}