//--- NAVBAR ---//
mixin nav(title)
  header
    nav.nav.make-fixed
      input(type="checkbox")#nav-trigger
      label.nav-toggle(for="nav-trigger")
      
      if title == "Get Started"
        .nav-brand
          img(src="images/icon.png", alt="Sparkle.CSS logo")
        ul.nav-menu
          li.nav-menu-item
            a(href="/") Home
          li.nav-menu-item.make-active
            a(href="/get-started") Get Started
          li.nav-menu-item
            a(href="/documentation") Documentation
      else if title == "Documentation"
        .nav-brand
          img(src="images/icon.png", alt="Sparkle.CSS logo")
        ul.nav-menu
          li.nav-menu-item
            a(href="/") Home
          li.nav-menu-item
            a(href="/get-started") Get Started
          li.nav-menu-item.make-active
            a(href="/documentation") Documentation
      else if title == "Components" || title == "Forms" || title == "Layouts" || title == "Utilities"
        .nav-brand
          img(src="../images/icon.png", alt="Sparkle.CSS logo")
        ul.nav-menu
          li.nav-menu-item
            a(href="/") Home
          li.nav-menu-item
            a(href="/get-started") Get Started
          li.nav-menu-item.make-active
            a(href="/documentation") Documentation

      //- NAV MENU (RIGHT)
      ul.nav-menu.make-right
        li.nav-menu-item.make-tablet-hidden
          a(href=`https://github.com/jdriviere/sparkle-css/archive/v${version}.zip`).button.make-dark.make-outline.make-block Download
        li.nav-menu-item.make-tablet-hidden
          a(href="https://github.com/jdriviere/sparkle-css", target="_blank").button.make-primary.make-block Github
        li.nav-menu-item.make-phone-hidden
          a(href=`https://github.com/jdriviere/sparkle-css/archive/v${version}.zip`)
            i.fa.fa-download
        li.nav-menu-item.make-phone-hidden
          a(href="https://github.com/jdriviere/sparkle-css", target="_blank")
            i.fa.fa-github